{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
     },
     
     "extends": [
      "airbnb",
      "airbnb/hooks",
      "eslint-config-prettier",
      "plugin:react/recommended",
      "prettier"
  ],
      "plugins": ["react"],

      "parser": "@babel/eslint-parser",

      "rules": {
        "semi":"off",
        "no-console":"off"
      }
      
    }